body{
    background: url('IMG/barbearia2.png')

}


.agendamento-section {
    max-width: 600px;
    margin: 100px auto 50px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.agendamento-section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.agendamento-section form {
    display: flex;
    flex-direction: column;
}

.agendamento-section label {
    margin: 0.5rem 0;
    color: #333;
}

.agendamento-section input,
.agendamento-section select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.agendamento-section input:focus,
.agendamento-section select:focus {
    border-color: #333;
}

.agendamento-section .btn-primary {
    padding: 0.75rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agendamento-section .btn-primary:hover {
    background-color: #535353;
}

#confirmationMessage {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-size: 1rem;
}
