@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
    font-family: "New Amsterdam", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5f5d5d;
}

header {
    width: 100%;
    padding: 28px 8%;
    background-color: rgba(51, 51, 51, 0.85);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.nav-item a:hover {
    color: rgb(95, 91, 91);
    transform: scale(1.1);
}

.nav-item.active a {
    color: #fff;
    border-bottom: 4px solid #222;
}

.btn-default {
    border: none;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-default:hover {
    background-color: rgb(128, 127, 127);
}

#mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

#mobile_servicos {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#mobile_servicos.active {
    display: flex;
}

#mobile_nav_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
    margin: 12px 0;
}

.hero-section {
    position: relative;
    height: 100vh;
}

.hero {
    background: url('IMG/barbearia.jpg') no-repeat center center/cover;
    filter: grayscale(10%);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.btn-primary {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    display: inline-block;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4e5050;
}

/* Seções de Serviços, Sobre, Contato */
.services-section,
.about-section,
.contact-section {
    padding: 2rem 8%;
    text-align: center;
}

.service-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service h2 {
    background-color: #333;
    color: #fff;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s;
}

.service img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgba(51, 51, 51, 0.85);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Seção de Agendamento */
.agendamento-section {
    max-width: 600px;
    margin: 100px auto 50px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.agendamento-section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.agendamento-section form {
    display: flex;
    flex-direction: column;
}

.agendamento-section label {
    font-weight: 600;
    margin: 0.5rem 0;
    color: #333;
}

.agendamento-section input,
.agendamento-section select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.agendamento-section input:focus,
.agendamento-section select:focus {
    border-color: #333;
}

.agendamento-section .btn-primary {
    padding: 0.75rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.agendamento-section .btn-primary:hover {
    background-color: #535353;
}

#confirmationMessage {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-size: 1rem;
}

/* Seção de Confirmação */
 /*.confirmacao-container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmacao-container h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.confirmacao-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* Estilos Responsivos */
@media screen and (max-width: 1168px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_servicos.active {
        display: flex;
    }

    .btn-default {
        display: block;
        margin-top: 12px;
    }
}

@media screen and (max-width: 768px) {
    .agendamento-section {
        padding: 1rem;
        margin: 80px auto 50px;
    }

    .agendamento-section h2 {
        font-size: 1.75rem;
    }

    .agendamento-section input,
    .agendamento-section select {
        font-size: 0.95rem;
    }

    .agendamento-section .btn-primary {
        font-size: 0.95rem;
    }
}

/* Seção Sobre Nós */
.sobre-section {
    padding: 2rem 8%;
    text-align: center;
}

.sobre-section h2 {
    padding: 60px;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sobre-section p {
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.team-member {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-member img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.team-member p {
    font-size: 1rem;
    color: #666;
}
